.jumbotron {
  background-color: #ff6699;
}
#produk {
  background-color: #ff6699;
}
#alamat {
  background-color: #ff6699;
}
.container {
  width: 100%;
  min-height: 200px;
}
section {
  padding-top: 6rem;
}
